html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0px;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;

  font-family: 'Work Sans', sans-serif;
  font-size: 11pt;
  font-weight: normal;
  line-height: 125%;

  color: #000103;
  /* background-color: snow; */
  background-color: #faf056;
  /* background-image: url('bg.jpg'), url('bg2.jpg');
  background-size: cover, auto auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, top center;
  background-attachment: fixed, scroll;
  background-blend-mode: normal, multiply; */

  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #4785FF;
  color: snow;
  text-shadow: none;
}

header,
section,
main,
footer {
  margin: 0 auto;
  padding: 16px 0;
}

section {
  border-radius: 4px;
  width: 480px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

div,
iframe {
  margin: 0 auto;
  padding: 0;
}

h1, h2, h4 {
  margin: 0;
  padding: 0 0 4px 0;
  box-sizing: border-box;

  font-weight: bold;
  cursor: default;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  line-height: 125%;
  text-align: center;
  display: inline-block;
}

h3 {
  margin: 0;
  padding: 0 0 8px 0;
  width: 100%;
  box-sizing: border-box;

  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

p,
span {
  margin: 8px 0 12px 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: default;
}

strong {
  opacity: 0.80;
}

a {
  text-decoration: none;
  font-weight: bold;

  color: #000E29;
}

figure,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

audio {
  padding: 0;
  margin: 0;
  width: 100%;
}

div.nr {
  width: 100%;
  min-height: 56px;
  text-align: center;
}

div.nr p {
  margin: 96px auto 128px 0;
  /* font-size: 13pt; */
  opacity: 0.88;
}

/* div.nr p:before {
  content: '\f004,';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 8px;
  font-size: 12pt;
} */

/* header */

.header {
  max-width: 800px;
  min-height: calc(100vh - 256px);
  max-height: 1440px;
  margin: 16px auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  cursor: default;
}

#video {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

#video iframe {
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#titulo {
  margin: 0 16px;
  width: 100%;
  max-width: 480px;
  text-align: center;
}

#titulo #comoperderamigos {
  width: 100%;
  max-width: 240px;
  height: 56px;
  display: block;
  margin: 0 auto;
  padding: 0;

  /* background-image: url('comoperderamigos-240.png'); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: default;
}

#titulo p {
  cursor: default;
  font-size: 12pt;
  width: fit-content;
  display: inline;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.header #titulo p:after {
  content: ' \002B25';
}

.header #titulo p:last-of-type:after {
  content: '';
}

.header #cta {
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px 0;

  margin: 0;
  padding: 0;

  margin-top: 32px;
  width: 100%;
}

#cta div {
  margin: 0 4px;
}

#cta .link-twitter,
#cta .link-instagram {
  padding-right: 11px;
}

#cta .link-tiktok {
  padding-right: 12px;
}

.botao {
  background-color: transparent;

  margin: 0;
  padding: 6px 16px 6px 16px;
  box-sizing: border-box;

  border: 1px solid transparent;
  border-radius: 2px;
}

.solido {
  color: snow;
  background: #000E29;
}

.gradiente-mistyrose {
  background: linear-gradient(-45deg, transparent 4%, mistyrose 36%, transparent 88%);
  animation: 3200ms linear infinite gradiente;
}

.gradiente-lightskyblue {
  background: linear-gradient(-45deg, transparent 4%, lightskyblue 36%, transparent 88%);
  animation: 6400ms linear infinite gradiente;
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
    background-size: 640%;
  }

  54% {
    background-position: 100% 50%;
    background-size: 360%;
  }

  100% {
    background-position: 0% 50%;
    background-size: 640%;
  }
}

/* main */

.main {
  max-width: 640px;
  padding: 0 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.descricao {
  width: 480px;
  height: 100%;
  padding: 16px;
}

/* bio */

#bio {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 8px;
}

#bio p {
  font-size: 12pt;
  max-width: 480px;

  cursor: default;
  /* font-size: 13pt; */
  display: inline;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  line-height: 160%;
}

#bio #assinatura {
  text-align: right;
  padding: 60px 0 0 0;
  margin-left: auto;
  margin: 0 36px 0 8px;
  background-image: url('nessi.png');
  background-size: auto 48px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: right top;
}

#bio #assinatura a {
  font-weight: normal;
  font-size: 11pt;
}

#bio iframe {
  margin: 0 auto;
}

.nota {
  text-align: center;
  margin: 8px 0;
  padding-bottom: 8px;
  opacity: 0.8;
}

/* pix */

#pix {
  width: 100%;
  margin: 32px auto 16px auto;
  padding: 40px 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 16px;

  /* background-color: transparent; */
  background-color: snow;

  border: 1px dotted #00010336;
  /* box-shadow: 0 16px 56px -64px #000103cc; */
  text-align: center;
}

#qr {
  width: 159px;
  height: 159px;
  max-width: 100%;
  max-height: auto;
  background-color: snow;
  padding: 4px;
  background-image: url('qr.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-origin: content-box;
  flex-shrink: 0;
  image-rendering: pixelated;
  opacity: 0.88;
}

#pix div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#pix div:nth-of-type(2) {
  margin-top: 16px;
}

#pix div h2 {
  font-size: 13pt;
}

#pix div h2:before {
  content: '\f02a';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 8px;
}

#pix div #chave {
  border: 0;
  background-color: transparent;
  font-size: 12pt;
  padding: 9px 8px 7px 8px;
  margin: 8px auto;
  width: 320px;
  max-width: 70vw;
  text-align: center;
  border: 1px dashed #00010336;
  border-radius: 2px;
  word-break: break-word;
  cursor: pointer;
}

#pix div p {
  height: 24px;
  margin: 0;
  padding: 0;
}

#pix div p span {
  display: none;
  opacity: 0.8;
}

#pix div p span:before {
  content: '\f328';
  font-family: 'Font Awesome 5 Free';
  font-weight: normal;
  margin-right: 8px;
}

#pix div #chave:focus+p span {
  display: inline;
}

#obrigada {
  /* cursor: pointer; */
  height: 32px;
  font-size: 13pt;
}

/* #obrigada:active {
  animation: 240ms linear infinite pulse;
}

@keyframes pulse {
  0% {
    letter-spacing: 0;
    font-size: 14pt;
  }

  100% {
    font-size: 13pt;
  }
} */

/* episodios */

#episodios {
  width: 100%;
  line-height: 0;
  text-align: center;
}

/* cortes */

#cortes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  width: fit-content;
  overflow-x: auto;
  gap: 0 8px;
  padding: 0;
  border-radius: 0;
}

#cortes div {
  width: 180px;
  height: 320px;
}

#cortes video {
  width: 180px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 4px;

  position: relative;
}

/* progresso */

#progresso p {
  font-size: 13pt;
  font-weight: normal;
}

/* creditos */

#creditos {
  font-size: 12pt;
  width: 100%;
  padding: 0;
  margin: 8px 0;

  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

#creditos details {
  width: 100%;
  margin: 0;
  padding: 0;
}

#creditos details[open] {
  padding-bottom: 8px;
}

#creditos details summary {
  border-bottom: 1px solid #00010324;
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0 auto;
  font-weight: bold;
  list-style: none;
}

#creditos details summary span {
  opacity: 0.64;
  display: none;
}

#creditos details:last-of-type summary {
  border-bottom: 0;
}

/*
summary::-webkit-details-marker {
  display: none;
}

summary:focus {
 outline: -webkit-focus-ring-color auto 0;
}
*/

/* #creditos details summary:before {
  content: '\f550';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 8px;
} */

/* #creditos details[open] summary:before {
  content: '\f068';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 10px;
} */

#creditos details summary:after {
  content: ' \f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-left: 4px;
  font-size: 10pt;
}

#creditos details[open] summary:after {
  content: ' \f062';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
}

#creditos .detalhes {
  max-width: 480px;
  padding: 16px 0;
  margin: 0 auto;
  line-height: 150%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#creditos p {
  margin: 0 0 16px 0;
}

#creditos .detalhes .botao {
  background-color: #000E29;
  color: snow;
  margin: 6px;
  font-size: 10pt;
}

/* table */

#creditos table {
  text-align: left;
  vertical-align: middle;
  width: 100%;
  min-height: 37px;
  table-layout: fixed;
  word-wrap: break-word;
  padding: 8px 16px;
}

#creditos table a {
  width: 100%;
  min-width: 16px;
  font-weight: normal;
}

#creditos table:hover {
  cursor: default;
}

#creditos th {
  text-align: left;
  font-weight: bold;
  padding: 8px 0;
}

#creditos tbody {
  overflow-wrap: break-word;
}

#creditos tbody tr:last-of-type {
  border-bottom: none;
}

#creditos tbody td {
  padding: 8px 0;
  border-bottom: 1px solid #0001030D;
}

#creditos .fa-heart {
  font-size: 10pt;
  font-weight: normal;
  margin-left: 3px;
}

/* newsletter */

#newsletter {
  background-color: #000103;
  width: 480px;
  max-width: 100%;
  padding: 32px 8px 32px 8px;
  color: snow;
  margin: 16px 0;

  background-image: url('640x360.jpg');
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center center;

  /* border-top: 1px solid snow;
  border-bottom: 1px solid #00010356;
  box-shadow: 0 8px 24px -16px #00010398; */
}

#newsletter h2 {
  padding-right: 4px;
  line-height: 136%;
  margin-bottom: 8px;
}

/* #newsletter h2:before {
  content:'\f674';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 8px;
} */

#mc_embed_signup {
  text-align: center;
  display: inline-block;
}

#mc_embed_signup div {
  width: fit-content;
  display: inline-block;
}

#mce-responses {
  width: 0;
  height: 0;
  clear: none;
  display: none;
}

input#mce-EMAIL {
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  border: 0;
  /* border-bottom: 1px solid #000103;
  border-bottom: 1px solid rgba(255, 250, 250, 0.64);
  border-bottom: 1px solid #000103; */
  border-radius: 2px;
  background-color: snow;
  font-family: 'Work Sans', sans-serif;

  height: 100%;
  width: 152px;

  font-size: 11pt;
  color: #000103;
}

input#mce-EMAIL::placeholder {
  color: #000E29;
}

#newsletter #mc-embedded-subscribe.botao {
  box-sizing: border-box;
  padding: 6px 16px;

  font-family: 'Work Sans', sans-serif;
  font-weight: bold;

  /* border: 1px solid #000103; */
  color: #000103;
  /* background-color: chartreuse; */
  background-color: #faf056;

  cursor: pointer;
}

/* contato + grupo */

#contato,
#grupo {
  text-align: center;
  padding: 16px 0;
  margin: 0;
  min-width: 260px;
  box-sizing: border-box;
}

#contato .botao,
#grupo .botao {
  padding: 6px 0;
  cursor: pointer;
}

#contato h2 {
  line-height: 154%;
}

#grupo h2 {
  line-height: 172%;
}

/* links */

#links {
  width: 100%;
}

.links {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 640px;
}

.links div {
  width: auto;
  margin: 0;
  padding: 0;
  line-height: 200%;
}

.links div .botao {
  min-width: 200px;
}

.links div:last-of-type {
  margin-top: 8px;
  opacity: 0.9;
}

.links h1 {
  font-weight: bold;
}

.links h1,
.links p {
  cursor: default;
  font-size: 12pt;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}


.links h1:after,
.links p:after {
  /* content: ' \002B25'; */
  content: ' \0000B7';
}

.links p:last-of-type:after {
  content: '';
}

/* footer */

.footer {
  width: 100%;
  height: calc(100vh - 40px);
  max-height: 520px;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 100%;
  min-width: 128px;
  max-width: 320px;
  height: 240px;
  display: block;
  margin: 48px auto 36px auto;
  padding: 0;
  box-sizing: border-box;

  background-image: url('comoperderamigos-320.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: default;
}

/* icones */

.fab {
  font-weight: normal;
}

.link-baixar:before {
  content: '\f56d';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 6px;
}

.link-twitter:before {
  content: '\f099';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-instagram:before {
  content: '\f16d';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-tiktok:before {
  content: '\e07b';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-telegram:before {
  content: '\f3fe';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-spotify:before {
  content: '\f1bc';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-youtube::before {
  content: '\f167';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-feed:before {
  content: '\f09e';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 4px;
}

.link-deezer:before {
  content: '\e077';
  font-family: 'Font Awesome 5 Brands';
  font-weight: normal;
  margin-right: 4px;
}

.link-email:before {
  content: '\f0e0';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 4px;
}
