body {
  background-color: snow;
}

.lagonessi-header {
  max-width: 800px;
  min-height: calc(100vh - 192px);
  max-height: 1440px;
  margin: 16px auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  cursor: default;
}

.lagonessi-capa {
  display: block;
  margin: 8px auto;
  padding: 0;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: url('https://comoperderamigos.com/lagonessi/lagonessi-128.jpg');
  background-color: #000E29;
  background-size: 102% auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: ease-in 64ms;
}

.lagonessi-capa:hover {
  transition: ease-out 128ms;
  background-size: 100% auto;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.lagonessi-h1 {
  font-size: 14pt;
}

.lagonessi-links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.lagonessi-importante {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;
}

.lagonessi-botao {
  padding: 2px 8px;
  margin: 0;

  font-size: 10pt;

  background-color: transparent;

  margin: 0;
  padding: 5px 16px 6px 16px;
  box-sizing: border-box;

  display: inline-block;

  border: 1px solid transparent;
}

.lagonessi-botao-fundo {
  background: #000E29;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
}

.lagonessi-botao-borda {
  border-radius: 8px;
  margin: 8px 0;

  background: linear-gradient(-45deg, white 4%, mistyrose 36%, white 88%);
  animation: 3200ms linear infinite lagonessi-brilho;
}

@keyframes lagonessi-brilho {
  0% {
      background-position: 0% 50%;
      background-size: 640%;
  }
  54% {
      background-position: 100% 50%;
      background-size: 360%;
  }
  100% {
      background-position: 0% 50%;
      background-size: 640%;
  }
}

.lagonessi-escuta {
  margin-top: 56px;
}